*.swp
*.retry
*.zip
*.tar.gz
*.iso
*.qcow2
playbooks/roles/downloadNodeIso/files/
playbooks/roles/setupRkeCluster/files/id_rsa.pub
playbooks/roles/setupRkeCluster/files/rke_linux-amd64
*.tfstate
*.tfstate.backup
.terraform
